.featured-products {
  margin-bottom: 4rem;
  
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .featured-products--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1.2rem;

    .product-item {
      span {
        font-weight: bold;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .featured-products--button {
    button {
      display: block;
      max-width: 350px;
      margin: 0 auto;
      width: 100%;
      padding: .5rem;
    }
  }
}