.home--slider {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .home--slider--container {
    transition: all ease 200s;
    .home--slider--container-image {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    p {
      text-align: center;
      font-weight: bold;
    }
  }

  button {
    border: none;
    max-height: 10rem;
    background-color: rgba(#a57b45, 0.6);
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    transition: all ease .2s;

    &:hover {
      cursor: pointer;
      background-color: rgba(#a57b45, 0.9);
    }
  }
}