.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 1.3rem;

  .header--title {
    h1 {
      text-align: center;
    }
  }

  .header--logo {
    display: none;
    
    img {
      max-width: 200px;
      display: block;
      margin: 0 auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .header--shopping-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .fa-cart-shopping {
      font-size: 1.4rem;
    }

    .header--search-bar {
      border-radius: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 8rem;
      height: 2rem;
    }

    button {
      margin-right: 2rem;
      padding: 0.6rem;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    
    .header--logo {
      display: block;
    }

    .header--shopping-search {
      .header--search-bar {
        width: 10rem;
      }
    }
  }

  @media (min-width: 992px) {
    .header--shopping-search > .header--search-bar {
      width: 14rem;
    }
  }
}
